.col-sm-12.col-md-4
  = render partial:"sidebar"
.col-sm-12.col-md-4
  -if notice
    %p#notice.alert.alert-success
      = notice
  %form{:action => scholes_update_price_scholes_path, :method => "post", :name => "scholes_price"}
    = hidden_field_tag :authenticity_token, form_authenticity_token
    .row.form-group
      %span.col-md-5
        Stock Price
        %input{:type=>"text", :required => true, :name => "stock_price"}
    .row.form-group
      %span.col-md-5
        Years
        %input{:type=>"text", :required => true, :name => "years"}
    .row.form-group
      %span.col-md-5
        Interest Rate
        %input{:type=>"text", :required => true, :name => "risk_free"}
    .row.form-group
      %span.col-md-5
        Volatility
        %input{:type=>"text", :required => true, :name => "volatility"}
    .row.form-group
      %span.col-md-5
        Strike Price
        %input{:type=>"text", :required => true, :name => "strike_price"}
    .row.form-group
      %span.col-md-9
        = radio_button_tag 'call_put_scholes', 'call'
        Call Scholes Option
    .row.form-group
      %span.col-md-9
        = radio_button_tag 'call_put_scholes', 'put'
        Put Scholes Option
    .row.form-group
      %span.col-md-5
        %input{:name => "submit", :type => "button", :class =>"btn btn-success",:value => "Submit", :id=>"save" }
